#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#email {
	
}

#githubConnect {
	margin-top: 20px;
}

#inputDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputForm {
	width: 70%;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

#logoGithub {
	width: 150px;
}

#password {
	
}

#loginDiv {
	border: solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 30%;
	height: 60%;
	padding: 10px;
}

#loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#titleForm {
	color: white;
	background-color: #F69F1D;
	width: 55%;
	border-radius: 9px;
	display: flex;
	justify-content: center;
}

#loginButtonForm {
	margin: 20px;
}

#username {
	
}