<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Pay My Buddy</title>
	    <link 
	    	rel="stylesheet" 
	    	th:href="@{/css/signin.css}">
	</head>
	
	<body>
	    <div id="container">
	        <div id="signinDiv">
	            <h1 id="titleForm">Pay My Buddy</h1>
	            
	             <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
                
            </div>
	            <form 
	            	id="signinForm" 
	            	th:action="@{/users/add_user}" 
	            	method="post">
	                <div id="inputDiv">
	                    <input name="username" id="username" class="inputForm" type="text" placeholder="username" th:value="${username}">
	                    <input name="email" id="email" class="inputForm" type="email" placeholder="email" th:value="${email}">
	                    <input name="password" id="password" class="inputForm" type="password" placeholder="password">
	                </div>
	                <button id="signinButtonForm" type="submit">Créer un compte</button>
	            </form>
	            <a id="githubConnect" href="/oauth2/authorization/github">
                	<img id="logoGithub" alt="logo de GitHub" src="/images/github.png">
                </a>
                <a href="/login">Se connecter à Pay My Buddy</a>
	            
	            <div th:if="${param.error}">
	                <p style="color: red;">Identifiants incorrects. Veuillez réessayer.</p>
	            </div>
	        </div>
	    </div>
	</body>
	
</html>